/* background-color: #010327*/
/*************************** start of  smaller screen*******************/
@media only screen and (max-width: 918px) {
  .hide-on-mobile {
    display: none !important;
  }
}

/** ********************end of smaller screen********************** **/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/** *******************start of bigger screen************************/
@media only screen and (min-width: 918px) {
  .hide-on-desktop {
    display: none !important;
  }

  .main-site-header {
    width: 100%;
    height: 70px;
    background-color: grey;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
  }

  .main-site-header .row1 {
    width: 20%;
    background-color: red;
  }

  .main-site-header .row1 .logo {
    width: 100px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
  }

  .main-site-header .row2 {
    width: 80%;
    background-color: blue;
  }

  .main-site-header .row2 ul {
    position: relative;
    float: right;
    /* margin-top: 10px; */
    margin-right: 10px;
  }

  .main-site-header .row2 a {
    float: right;
    margin-top: 0px;
    padding: 5px 10px;
  }
  .main-site-header .row2 ul li {
    display: inline-block;
    position: relative;
    top: 10px;
  }

  .main-site-header .row2 ul li a {
    background-color: pink;
  }
}

/** **************end of bigger screen************************ **/

.centered-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
